@import "../../styles/variables";

.cocktail-list {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin: 10px 0;

      a {
        text-decoration: none;
        color: $secondary-color;
        font-family: $font-family;
        display: block;
        padding: 10px 15px;
        border-radius: 4px;
        transition:
          background-color 0.3s,
          color 0.3s;

        &:hover {
          background-color: lighten($primary-color, 20%);
          color: $primary-color;
        }

        &.active {
          font-weight: bold;
          background-color: $primary-color;
          color: $secondary-color;
        }
      }
    }
  }
}
