@import "./styles/variables";
@import "./styles/reset";
@import "./styles/mixins";

body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  background-color: $background-color;
  color: $secondary-color;
}
